.calendar-container{
    display: flex;
    flex-direction: column;
}
.calendar-container h2{
    text-align: end;
    margin-right: 470px;
}
.calendar{
    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content:end;
    margin-right: 50px;
    padding: 10px;

}
.arrow {
    padding-top: 15px;
}

